body {
  background-image: url("https://cdn.publish0x.com/prod/fs/images/ff8f6cdcc9f19f1ce9ee29c86173cc525c083abb8b79ffdee5e0e5e7dfdda079.jpeg");
  background-size: cover;
}

.heading {
  color: white;
  text-align: center;
  margin-top: 50px;
}

table {
  border: 5px solid white !important;
}

#covidtable_wrapper {
  background-color: #a1e1fa !important;
  padding: 10px;
}

table td {
  border: 1px solid white !important;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}
table td:hover {
  background-color: white;
  color: black;
  /* font-size: 20px; */
  border: 2px solid lightblue !important;
}

table th {
    border: 1px solid white !important;
    -webkit-transition: background-color 0.6s ease-in;
    transition: background-color 0.6s ease-in;
}
table th:hover {
  background-color: white;
  color: black;
  /* font-size: 20px; */
  border: 2px solid lightblue !important;
}
